extends layout

block content
    if(destlist.length)
            h1.
                Destination Details
     
            div
            table.table.table-hover(class="city-table")
             div
              thead
                  tr(class="table-header")
                   td='City'
                   td='Hotel Name'
                   td='Hotel Address'
                   td='Phone Number'
                   td='Price per night'
              tbody
                each hotel in destlist
                 tr(class="table-rows")
                  td=hotel.city
                  td=hotel.hotel_name
                  td=hotel.hotel_address
                  td=hotel.phone
                  td=hotel.cost
    else
        h1. 
            There is no data to display
     
